<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book App</title>

  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
</head>

<body>
  <main>
    <header>
      <h1>
        <nav>
          <a href="/">Home</a>
          <a href="/searches/new">Search Books</a>
        </nav>
        <a href="#menu" class="box-shadow-menu"></a>
      </h1>
      <ul>
        <% databaseResults.map(array => { %>
        <div class="bookResults">
          <li>
            <%- array.image_url%>
          </li>
          <li>
            <%= array.title %>
          </li>

          <li>
            <%= array.authors %>
          </li>

          <li>
            <%= array.description %>
          </li>
        </div>
        <% }) %>
      </ul>

    </header>


    <footer>

    </footer>
  </main>
</body>

</html>